version: '3.9'

services:
  backend:
    build: ./backend
    ports:
      - "3001:3000"  
    environment:
      DATABASE_URL: postgres://myuser:mypassword@db:5432/luxury_insights
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: luxury_insights
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
